<div class="movie">
  <div class="movie__intro">
    <img
      class="movie__backdrop"
      src="https://image.tmdb.org/t/p/original{{
        currentMovieDetail.backdrop_path
      }}"
    />
  </div>
  <div class="movie__detail">
    <div class="movie__detailLeft">
      <div class="movie__posterBox">
        <!-- <img
          class="movie__backdrop"
          src="https://image.tmdb.org/t/p/original{{
            currentMovieDetail.poster_path
          }}"
        /> -->
      </div>
    </div>
    <div class="movie__detailRight">
      <div class="movie__detailRightTop">
        <div class="movie__name">
          {{ currentMovieDetail.original_title }}
        </div>
        <div class="movie__tagline">{{ currentMovieDetail.tagline }}</div>
        <div class="movie__rating">
          {{ currentMovieDetail.vote_average }} <i class="fas fa-star"></i>
          <span class="movie__voteCount">{{
            currentMovieDetail.vote_count + " votes"
          }}</span>
        </div>
        <div class="movie__runtime">
          {{ currentMovieDetail.runtime + " mins" }}
        </div>
        <div class="movie__releaseDate">
          {{ "Release date: " + currentMovieDetail.release_date }}
        </div>
        <div
          class="movie__genres"
          *ngFor="let currentMovieDetail of currentMovieDetail.genres"
        >
          <span class="movie__genre"> {{ currentMovieDetail.name }}</span>
        </div>
      </div>
      <div class="movie__detailRightBottom">
        <div class="synopsisText">Synopsis</div>
        <div>{{ currentMovieDetail.overview }}</div>
      </div>
    </div>
  </div>
</div>
