<div class="poster">
  <ngb-carousel
    [showNavigationArrows]="showNavigationArrows"
    [showNavigationIndicators]="showNavigationIndicators"
  >
    <ng-template
      ngbSlide
      *ngFor="let popular of (popularMovies$ | async)?.results"
    >
      <div class="picsum-img-wrapper posterImage">
        <img
          src="https://image.tmdb.org/t/p/original{{ popular.backdrop_path }}"
        />
      </div>
      <div class="carousel-caption">
        <div class="posterImage__title">
          <h2>{{ popular.original_title }}</h2>
        </div>

        <div class="posterImage__runtime">
          <h4>{{ popular.release_date }}</h4>
        </div>
        <div class="posterImage__rating">
          <h4>{{ popular.vote_average }}</h4>
          <i class="fa-sharp fa-solid fa-star"></i>
        </div>

        <div class="posterImage__description">
          <p>{{ popular.overview }}</p>
        </div>
      </div>
    </ng-template>
  </ngb-carousel>
</div>
